body {
  min-height: 2000px;
  padding-top: 70px;
}

a {
    color:#222;
    text-decoration:none;
}


#localVideo {
    position: fixed;
    right: 100px;
    bottom: 0px; 
}


#localVideo video {
	max-height: 600px;
	
}

       
#remotevideos video {
	float: left;
 	margin-right: 10px;
  right:100px;
}
	
.record-box{
	width: 800px;
	max-width: 800px;
}

.vid-circle {
    border-radius: 50%;
    object-fit: cover;
}

.clip-circle {
  background:url(URL-of-image) no-repeat;
  background-size:720px 480px;
  background-position:-160px 0px;
  height:480px;
  width:480px;
  border-radius:50%;
  overflow:hidden;
  margin:auto;
}


.rc{
  width: 250px;
  height: 250px;
  border-radius: 100%;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  -webkit-transform: rotate(0.000001deg); 
	-webkit-border-radius: 100%; 
	-moz-border-radius: 100%;
	border-radius: 100%; 

	
}

.transcript-window{
    top:50px;
    position:fixed;
    float:right;
    right:100px;
}

.transcript-1-window{
    bottom:0px;
    position:fixed;
    float:right;
    right:400px;
}
.transcript-1-window > div > .panel-1{
    border-radius: 5px 5px 0 0;
}
.msg_container_base2{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height:200px;
  min-height:100px  ;
  overflow-x:hidden;
}

.panel-1{
    margin-top: 0px;
    margin-right: 10px;
}
.transcript-window > div > .panel-1{
    border-radius: 5px 5px 0 0;
}

.msg_container_base1{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height:300px;
  min-height:100px  ;
  overflow-x:hidden;
}

.msg_container_base1:-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#labnol {
    min-height:80%;
    height:auto;
    clear:both;
}
#labnol:focus {
    outline: none;
}


html, body {
	height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 180px;}  /* must be same height as the footer */


/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}